@font-face {
	font-family: 'Cambria';
	src: url('../fonts/Cambria.eot');
	src: url('../fonts/Cambria.eot?#iefix') format('embedded-opentype'),
		  url('../fonts/Cambria.svg#Cambria') format('svg'),
		  url('../fonts/Cambria.ttf') format('truetype'),
		  url('../fonts/Cambria.woff') format('woff'),
		  url('../fonts/Cambria.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
 } 